<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    <script>
      $(document).ready(function() {
          $('a').mouseenter(function() {
            if($( window ).width() > 768)
              $('.container').css('border', '12px solid #D65420');
          });

          $('a').mouseleave(function() {
            if($( window ).width() > 768) 
              $('.container').css('border', '12px solid #333333');
          });
      });

      $(window).resize(function() {
        if($( window ).width() < 768) 
          $('.container').css('border', 'none');

        if($( window ).width() > 768) 
          $('.container').css('border', '12px solid #333333');
      });
    </script>
    <div class="container">
      <div class="sidebar">
        <h1>hi, i'm tim</h1>
        <ul>
          <a href="/index"><li>home</li></a>
          <a href="/resume"><li>r&eacute;sum&eacute;</li></a>
          <a href="/contact"><li>contact</li></a>
        </ul>
      </div>
      <div class="main">
        {{ content }}
      </div>
  </body>
</html>
